@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
 * add_new
 */
button.semi-button-primary:not(.semi-button-light):not(.semi-button-borderless) {
  background-color: var(--semi-color-primary);
}

button.semi-button-secondary:not(.semi-button-light):not(.semi-button-borderless) {
  background-color: var(--semi-color-secondary);
}

button.semi-button-warning:not(.semi-button-light):not(.semi-button-borderless) {
  background-color: var(--semi-color-warning);
}
